body{
    max-height: 100vh;
    margin: 0;
    background-color: hsl(185, 41%, 84%);
    text-align: center;
    font-family: 'Space Mono', sans-serif;
}
h1{
    color:hsl(183, 100%, 15%);
    font-size: 27px;
    margin-top: 35px;
    letter-spacing: 7px;
    opacity: 0.8;
}
input{
    height:25px;
}
.mainContainer{                                                    /*Main container*/
    display: flex;
    width:920px;
    height:490px;
    background-color: hsl(0, 0%, 100%);
    margin: 47px auto 0;
    border-radius: 20px;
}
.leftContainer{   
    font-weight: 700;                                                /*Left container*/
    width:50%;  
}
.bill-label, .tip-selection, .nrOfPeople-label{
    margin: 33px 30px 30px 30px ;
    text-align: left;
    opacity: 0.6;
}
.bill-input > input {                                                       /*1st input*/
    margin: 0px 30px 0px ;
    border-radius:5px;
    border: none;
    height: 45px;
    width: 80%;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    padding: 0 10px 0;
    cursor:pointer;
    font-weight: 700;
    font-family: 'Space Mono', sans-serif;
    font-size: 18px;
}
.bill-input{
    position: relative;
}
.bill-input > #dollar-icon {
    position: absolute; 
    top: 14px;
    left: 45px;
}
.bill-input > input:focus{
    outline-color:hsl(172, 67%, 45%);
}
.tip-buttons{
    margin-left:30px;
    margin-right:30px;
    display: inline-grid;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.tip-buttons > button{
    font-family: 'Space Mono',sans-serif;
    background-color: hsl(183, 100%, 15%);
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tip-buttons > input{                                               /* 2nd input*/
    width: 100px;
    border: none;
    background-color: hsl(189, 41%, 97%);
    height:45px;
    text-align: center;
    padding: 0 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Space Mono', sans-serif;
    font-size: 18px;
}
.tip-buttons > input:focus{
    outline-color:hsl(172, 67%, 45%);
}
.tip-buttons > button.active{
    background-color:hsl(185, 41%, 84%) ;
    color:hsl(183, 100%, 15%);
}

#error{
    color:red;
    font-size: 15px;
    position: absolute;
    top: -40px;
    left: 30px;
    width: 100%;
}
.nrOfPeople-input{
    position: relative;
}
.nrOfPeople-input > input{                                                 /* 3rd input*/
    width: 80%;        
    height: 45px;                     
    border: none;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    padding: 0 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Space Mono', sans-serif;
    font-size: 18px;
}
.nrOfPeople-input > input:focus {
    outline-color:hsl(172, 67%, 45%);
}
.nrOfPeople-input > #icon-person {
    position: absolute;
    top: 15px;
    left:45px;
}
.rightContainer{                                                /*Right container*/
    display: flex;
    align-items: center;
    width: 50%;
    background-color: hsl(183, 100%, 15%);
    margin: 35px 35px 35px 0;
    border-radius: 20px;
    justify-content: center;
}
p, span{
    text-align: left;
}
p, .value1, .value2, button{
    font-weight: 700;
    font-size: 20px;
    color:hsl(0, 0%, 100%);
}
.value1, .value2{
    font-size: 30px;
}
span, .value1, .value2{
    opacity: 0.5;
}
.results{
    margin-top: -180px;
    margin-left: 50px;
    margin-right: 50px;
    width:90%;
}
.value1, .value2,p{
    display: inline-block;
}
.tip-amount, .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reset-button{
    position: absolute;
    top:440px;
    width:335px;
    margin-top: 80px;
    height: 45px;
    background-color: hsl(184, 14%, 56%);
    border-radius: 5px;
    border: none;
    color:hsl(183, 100%, 15%);
    font-size: 17px;
}
.reset-button:hover{
    background-color: hsl(185, 41%, 84%);
}


@media screen and (max-width:1200px){
    h1{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tip-buttons > button{
        height: 65px;
        width: 200px;
    }
    .tip-buttons > input{
        height: 65px;
        width: 180px;
     }

    .bill-label, .tip-selection, .nrOfPeople-label{
        margin: 33px 30px 30px 30px ;
        text-align: left;
        opacity: 0.6;
        font-size: 20px;
    }
    .mainContainer{
        margin-top:20px;
        flex-wrap: wrap;
        width: 700px;
        height: 940px;
    }
    .leftContainer{
        width: 100%;
        height:500px
    }
    .rightContainer{
        width: 100%;
        margin: 55px 35px 35px 35px;
        height:350px;
    }
    .results{
        margin-top: -130px;
    }
    .reset-button{
        font-size: 20px;
        width:400px;
        top:850px
    }
    .nrOfPeople-input > #icon-person {
        top: 15px;
        left:70px;
    }
    .bill-input > #dollar-icon {
        top: 14px;
        left: 70px;
    }
}

@media screen and (max-width: 700px){
        .mainContainer{
            width: 400px;
            height: 850px;
        }
        .tip-buttons > button{
            font-size: 25px;
            height: 50px;
            width: 100px;
        }
        .tip-buttons > input{
            font-size: 18px;
            height: 50px;
            width: 81px;
         }
        .nrOfPeople-input > #icon-person {
            top: 15px;
            left: 45px;
        }
        .bill-input > #dollar-icon {
            top: 14px;
            left: 45px;
        }
        .rightContainer{
            margin-top:25px;
            height:300px;
        }
        .results{
            margin-top: -100px;
            margin-left: 10px;
            margin-right: 10px;
            width: 250px;
        }
        .reset-button{
            top: 770px;
            width:250px;
        }
        .bill-label, .tip-selection, .nrOfPeople-label{
            text-align: center;          
        }
}
/* background-color:hsl(172, 67%, 45%);
background-color:hsl(183, 100%, 15%);
background-color:hsl(186, 14%, 43%);
background-color:hsl(184, 14%, 56%);
background-color:hsl(185, 41%, 84%);
background-color:hsl(189, 41%, 97%);
background-color:hsl(0, 0%, 100%); */